/* font from Google: http://fonts.googleapis.com/css?family=Italianno */
/* font: style weight variant !size/line-height !font-family */

/* colors
 * main colors: gray #232323, blue #98cafb
 * secondary accents: blue #5894f8, light gray #f9f9f9, darker gray #c8c8c8
 * */
/* fonts */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(http://fonts.gstatic.com/s/italianno/v6/RzzA8gdr3WCK_nxdg53KGltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
        url(http://fonts.gstatic.com/s/italianno/v6/RzzA8gdr3WCK_nxdg53KGj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* sitewide styles */

html{
  font-size: 100%;
  top: 0;
  left: 0; 
}
body{
  font-family: Verdana, sans-serif;
  color: #232323;
   
  margin: 0 0;
  height:auto;
  
  background: 
                linear-gradient(to right, rgba(249, 249, 249, 0) 10%, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0) 90%),
                /*linear-gradient(to top, rgba(220, 220, 220, 0.7) 5%, rgba(220, 220, 220, 0), rgba(220, 220, 220, 0.7) 95%) fixed,*/
                url(../general_imgs/backgrounds/bg1.jpg) no-repeat fixed,
                url(../general_imgs/backgrounds/bg2.jpg) no-repeat fixed right;
  background-color: #c8c8c8;
}
p{
  font-size: 1em;
  font-size: 1rem;
}
img {
    border: none;
    max-width: 90%;
    width:auto;
    height:auto;
}
hr {
    margin: 2em;
    color: #232323;
    box-shadow: #c8c8c8 2px 2px 3px;
}
address {
    margin: 0 3em;
}
header{
  background-color: #98cafb;
  text-align: center;
  box-shadow: 0 0 8px #232323;
  height: auto;
  /*padding: 0 25%;*/
}
footer {
    background-color: #232323;
    color: #f4f4f4;
    box-shadow: 0 0 8px #232323;
    padding: 1em 1em;
    clear: both;
}

.hNavList li, .hGalleryList li{
  display: inline;
}

figure{
  margin: 1em;
  margin: 1rem;
  width: 200px;
  border: red 1px solid;
  display: inline-block;
}
ul.hGalleryList, ul.hNavList{
  list-style: none;
  padding: 0;
  display: inline-block;
}

.hGalleryList {
    text-align: center;
    max-width: 900px;
    margin: 3em;
}
.galleryItem {
    background-color: #c8c8c8;
    width: 220px;
    height: 220px;
    padding: 0.4em;
    box-shadow: 3px 3px 4px #666666;
    border-radius: 5px;
    margin: 1em;
}
.galleryItem img{
    border: solid 3px #5894f8;
    border: outset 3px #5894f8;
}
.vNavList {
    font-style: italic;
    margin: 2em;
    font-weight: bold;
    
    
}
.vNavList li, dt{

    width: 100%;
    text-decoration: none;
    border-bottom: dotted 2px #232323;
}
dt {
    color: #5894f8;
}

h1{
  font-family: Italianno, cursive;
  font-size: 3em;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #666666;
  color: #232323;
}

header nav{
  background-color: #232323;
  align-content: center;
  margin: 0 25%;
  font-variant: small-caps;
}
header a:hover {
    background-color: rgba(200, 200, 200, 0.4);
}
#mainTitle, #subTitle{
  float: left;
}
header li, header a{
  color: #5894f8;
  text-decoration: none;
  margin: 0.2em;
  font-size: 1.1em;
}

h2{
  font-family: "Segoe Script", cursive;
  font-weight: normal;
  color: #5894f8;
  font-size: 2em;
 
}



.galleryRows{
  text-align: center;
  margin: 0 3em;
}

.aboutImage {
    width: auto;
    font-family: Verdana, Arial, sans-serif;
    color: #232323;
}


.selected {
    font-weight:bolder;
    font-style: normal;
    text-decoration: underline;
}


#midColumn a{
    text-align: center;
    display: inline;

}
.largeImage {
    display: block;
    text-align: center;
    margin: 1em auto;
    max-width: 90%;
    width:auto;
    height:auto;
}

#bigWrapper{
  width: 100%;  
  

}




#latestProjects, #internalNavigation {
    background-color: #f4f4f4;
    border: solid 5px #c8c8c8;
    width: auto;

    font-size: 0.8em;
    margin: 10%;
    padding: 1em;
    box-shadow: 0 0 5px #232323;
    height: 20rem;
}
#rightColumn, #leftColumn{
  border: red 1px solid;
  width: 23%;
  height: 80%;
  position: fixed;
  top: 10em;
}
#rightColumn {
    right: 0;
}
#leftColumn {
    left: 0;
}
#leftColumn a, #leftColumn h2, #rightColumn a, #rightColumn h2{
  font-family: Verdana, sans-serif;
  color: #232323;
 }

#internalNavigation ul{
    list-style-type: square;
    
}



#midColumn{
  height: 100%;
  width: 50%;
  margin: 0 24%;
  background-color: #f4f4f4;
  padding: 3em 1em;
  box-shadow: 0 0 8px #232323;
  border-radius: 5px;
  min-width: 740px;
  border: red 1px solid;
}

#contactMe {
    clear: left;
}

#midColumn p, #midColumn h3{
    margin: 1em 3rem;
    
}
#midColumn img, #midColumn h2{
    text-align: center;
}

#navContainer {
    background-color: #232323;
}

#footerContent {
    margin: 0 25%;
    text-align: center;
    font-variant: small-caps;
    height: 2em;
}

.aboutImage {
    margin: 0 3em 3em 1em;
    text-align: center;
}
#me1, #me2 {
    float: right;
}
#me3 {
    float: left;
}
#aboutMe p{
    font-size: 1rem;
}


/* table specific styling */
table {
    font-size: 0.8em;
    width: auto;
    border-collapse: collapse;
    margin: 1em auto;
}
tbody, tfoot {
    font-family: Georgia, serif;
}
tfoot tr{
    font-style: italic;
    font-weight: bold;
}
td, th{
    border-left: #f4f4f4 solid 3px;
    border-right: #f4f4f4 solid 3px;
    padding: 0.2em;
    
}
thead th{
    border-bottom: #232323 solid 3px;
    font-variant: small-caps;
}
tr.even td, tr.even th{
    background-color: #c8c8c8;
}
td.number {
    text-align: right;
}
tr:hover {
    color: #5894f8;
}
/* end table specific */