/* font from Google: http://fonts.googleapis.com/css?family=Italianno */
/* font: style weight variant !size/line-height !font-family */

/* colors
 * main #232323, #98cafb
 * secondary #5894f8, #f9f9f9
 * */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(http://fonts.gstatic.com/s/italianno/v6/RzzA8gdr3WCK_nxdg53KGltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
        url(http://fonts.gstatic.com/s/italianno/v6/RzzA8gdr3WCK_nxdg53KGj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
html{
  font-size: 100%;
}
body{
  font-family: Verdana, sans-serif;
  
}
p{
  font-size: 0.875em;
}


li{
  display: inline-block;
}
ul.hGalleryList, ul.hNavList{
  list-style: none;
  padding: 0;
  display: inline-block;
}
figure{
  margin: 1em;
  margin: 1rem;
  width: 200px;

  display: inline-block;
}


h1{
  font-family: Italianno, cursive;
  font-size: 3em;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #666666;
  color: #232323;
}

header{
  background-color: #98cafb;
  text-align: center;
  padding: 0 25%;
}
header nav{
  background-color: #232323;
  
}
#mainTitle, #subTitle{
  float: left;
}
header li, header a{
  color: #5894f8;
  background-color: #555;
  border: 5px solid #232323;
}

h2, figcaption{
  font-family: "Segoe Script", cursive;
  font-weight: normal;
  color: #5894f8;
 
}
div.galleryRows{
  text-align: center;
}
/*
figcaption{
  font-family: "Segoe Script", cursive;
}
*/

#bigWrapper{
  margin: 0 1em;
}

#leftColumn{
  margin-right: 75%;
  position: fixed;
  left: 1em;
  top: 1em;
}

#midColumn{
  margin: 0 25%;
}