#bigWrapper{
    margin: 0 1em;
 
}

#midColumn{  
    margin: 0 25%;
    background-color: #f9f9f9;
}
#leftColumn{
    margin: 0 75% 0 0;
}

footer{
    margin: 5em;
}

header{
    background-color: #98cafb;
    color: #232323;
    padding: 1em;
    height: 4em;
}
h2{
    color: #98cafb;
}

#siteLogo,#mainTitle,#subTitle#mainNavBar{
    float: left;
    color: #5894f8;
}
.hNavList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mainNavBar li{
    display: inline;
    
}
body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    
}

.galleryRows li,figure{
    display: inline;
    float: left;
    padding: 0;
    width: 210;
}

.galleryRows{
    float: left;
    padding: 0;
}